:root {
  --accent-color: #2196f3;
  --second-bg: #F5F4FA;
  --primary: #212121;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: Roboto;
  background-color: #ffffff;
  color: #757575;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  font-family: inherit;
}

svg {
  fill: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding: 0 15px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 320px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .header .container {
    display: flex;
    align-items: center;
  }
  .our-team .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.general {
  color: #ffffff;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.logo-one {
  color: var(--accent-color);
}

.logo-two {
  color: #000000;
}

.logo-two-footer {
  color: #ffffff;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ECECEC;
}

@media screen and (max-width: 767px) {
  .navigation-list {
    display: none;
  }
  .mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    max-width: 480px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 48px 40px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility, pointer-events;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  .burger-btn,
  .mobile-close-btn {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .contacts {
    display: none;
  }
  .mobile-menu-nav {
    display: flex;
    flex-direction: column;
  }
  .mobile-menu-link {
    width: 219px;
    height: 48px;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--primary);
    text-decoration: none;
  }
  .mobile-menu-link:hover, .mobile-menu-link:focus {
    color: var(--accent-color);
  }
  .mobile-menu-nav-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu-contacts {
    display: flex;
    flex-direction: column;
    margin-top: 302px;
    margin-bottom: 64px;
  }
  .mobile-menu-nav-tel {
    width: 296px;
    font-size: 34px;
    line-height: 40px;
    height: 40px;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
  .mobile-menu-contacts-tel {
    margin-bottom: 32px;
  }
  .mobile-menu-nav-mail {
    width: 231px;
    height: 28px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .mobile-menu-link {
    display: flex;
  }
  .mobile-menu-link-item:not(:last-child)::after {
    content: "";
    height: 21px;
    color: rgba(33, 33, 33, 0.2);
    margin-left: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
  }
  .mobile-menu-link-item:not(:last-child) {
    margin-right: 20px;
  }
  .mobile-menu-social-item {
    width: 59px;
    height: 22px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .burger-btn,
  .mobile-menu {
    display: none;
  }
  .navigation-list {
    display: flex;
    align-items: center;
    margin-left: 88px;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .header {
    padding-top: 26x;
    padding-bottom: 26px;
    border-bottom: 1px solid #ECECEC;
  }
  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .navigation-list {
    display: flex;
    align-items: center;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .navigation-list-item {
    position: relative;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .mail-link-item {
    margin-bottom: 10px;
  }
  .mail-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .tel-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mail-icon {
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-list-link {
    color: var(--primary);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-list-link:hover, .navigation-list-link:focus {
    color: var(--accent-color);
  }
  .contacts .link {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
  .contacts .link:hover, .contacts .link:focus {
    color: var(--accent-color);
  }
  .studio {
    color: var(--accent-color);
    text-decoration: none;
  }
  .studio::after {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: -42px;
    display: block;
    width: 100%;
    height: 4px;
    content: "";
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .mail-link {
    margin-right: 50px;
  }
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .studio::after {
    margin-bottom: -31px;
  }
  .navigation-list {
    margin-left: 93px;
  }
  .mail-link-item {
    margin: 0 auto;
  }
}

.hero-button {
  text-align: center;
  padding: 10px 32px;
  align-items: center;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  min-width: 480px;
  height: 400px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main/main-mobile.jpg");
  background-size: 100%;
  color: #ffffff;
  background-color: #2F303A;
  background-repeat: no-repeat;
  padding-top: 118px;
  padding-bottom: 198px;
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  width: 360px;
  height: 84px;
  margin-bottom: 30px;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: url("../images/main/main-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    width: 100%;
    height: 400px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main/main-tabl.jpg");
    background-size: 100%;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: url("../images/main/main-tabl@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    width: 100%;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main/main-desktop.jpg");
    background-size: 1600px 600px;
    padding-top: 200px;
    padding-bottom: 280px;
  }
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
    height: 120px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: url("../images/main/main-desktop@2x.jpg");
  }
}

.preference-icon {
  fill: var(--primary);
}

.preference-item-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--second-bg);
}

.benefits-title {
  color: var(--primary);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits-title-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .benefits {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .preference {
    display: flex;
    flex-direction: column;
  }
  .preference-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .preference-item-box {
    width: 450px;
    height: 120px;
  }
  .benefits-title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .preference {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .preference-item-box {
    width: 354px;
    height: 120px;
  }
  .preference-item {
    width: 354px;
    height: 251px;
    margin: 15px;
  }
  .benefits {
    padding-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .preference {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .preference-item-box {
    width: 270px;
    height: 120px;
  }
}

@media screen and (max-width: 767px) {
  .about .container {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .about .container {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .about {
    padding-bottom: 94px;
  }
  .about .container {
    display: block;
    align-items: center;
  }
  .section-list {
    display: flex;
    justify-content: space-between;
  }
  .section-list-item {
    position: relative;
  }
  .section-list-text {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    height: 70px;
    padding-top: 27px;
    padding-bottom: 27px;
  }
  .section-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .section-title {
    color: var(--primary);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .section-title {
    margin-bottom: 50px;
    text-align: center;
  }
}

.team-link-networks {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link-item-social {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #FFFFFF;
}

.our-team .container {
  background-color: #F5F4FA;
}

.team-link-item:not(:last-child) {
  margin-right: 10px;
}

.team-name {
  color: var(--primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-link {
  display: flex;
  justify-content: center;
}

.team-item {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-title {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .team-list {
    display: flex;
    flex-direction: column;
  }
  .team-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .team-item-content {
    padding-top: 30px;
    padding-bottom: 24px;
    text-align: center;
  }
  .team-item {
    width: 450px;
    height: 622px;
  }
  .our-team .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .team-item {
    width: 354px;
    height: 536px;
    margin: 15px;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    padding: 0;
  }
  .team-item-content {
    padding-top: 30px;
    padding-bottom: 24px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 auto;
  }
  .team-item {
    width: 270px;
    height: 428px;
    margin: 0;
  }
  .our-team {
    background: var(--second-bg);
  }
  .team-link-item-social:hover,
  .team-link-item-social:focus {
    background-color: var(--accent-color);
  }
  .team-link-item-social:hover .team-link-networks,
  .team-link-item-social:focus .team-link-networks {
    fill: #FFFFFF;
  }
  .team-item-content {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
  .our-team .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section-title {
    margin-bottom: 50px;
    color: var(--primary);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

.customers-link-icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link-item {
  display: flex;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link-item:hover, .customers-link-item:focus {
  border-color: var(--accent-color);
}

.customers-link-item:hover .customers-link-icon,
.customers-link-item:focus .customers-link-icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 320px) {
  .regular-customers {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .customers-link {
    margin: 15px;
  }
  .customers-link-item {
    width: 210px;
    height: 90px;
  }
}

@media screen and (min-width: 768px) {
  .customers-link-item {
    width: 226px;
    height: 90px;
  }
}

@media screen and (min-width: 1200px) {
  .regular-customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .customers-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  .customers-link-item {
    width: 170px;
    height: 90px;
  }
  .customers-link {
    margin: 0;
  }
}

.contact {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact-adress {
  color: #FFFFFF;
  text-decoration: none;
}

.contact-mail {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.contact-phone {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.contact-footer-list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

.contact-footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link-networks {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-item-social {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-form-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer-link {
  display: flex;
  margin-top: 20px;
}

.footer-link-item:not(:last-child) {
  margin-right: 10px;
}

.mail-footer-form {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-top: 20px;
  margin-right: 12px;
  background-color: transparent;
  padding-left: 16px;
  background-color: transparent;
  color: #FFFFFF;
}

.mail-footer-form::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.contact-footer-list {
  margin-top: 20px;
}

.footer-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.37;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  font-style: normal;
}

.footer-button::after {
  content: url(../images/icon-telegram.svg);
  margin-left: 10px;
  padding-top: 6px;
}

.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 320px) {
  .contact .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .contact-footer-list {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .mail-footer-form {
    width: 450px;
  }
  .footer-contact {
    margin-bottom: 60px;
  }
  .footer-contact .logo {
    text-align: center;
  }
  .footer-social {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }
  .footer-title {
    text-align: center;
  }
  .footer-button {
    margin-top: 20px;
  }
  .footer-form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-form-name {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .mail-footer-form {
    width: 450px;
  }
  .footer-tablet {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  .footer-contact {
    margin-left: 76px;
    margin-right: 165px;
  }
  .footer-social {
    margin-right: 89px;
  }
  .contact-footer-list {
    display: flex;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .mail-footer-form {
    width: 358px;
  }
  .contact .container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row;
  }
  .contact-footer-list {
    padding-left: 0;
  }
  .footer-social {
    display: block;
  }
  .footer-mailing {
    display: flex;
    justify-content: space-between;
  }
  .footer-form-box {
    display: flex;
    align-items: baseline;
  }
  .mail-footer-form {
    width: 358px;
  }
  .footer-mailing {
    display: flex;
  }
  .footer-form-box {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .footer-contact {
    margin-left: 0;
    margin-right: 70px;
    margin-bottom: 0;
  }
  .footer-social {
    margin-right: 0;
  }
  .footer-form-name {
    text-align: start;
  }
  .footer-link-item-social:hover,
  .footer-link-item-social:focus {
    background-color: var(--accent-color);
  }
}

.portfolio {
  color: var(--accent-color);
}

.portfolio::after {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  content: "";
  background-color: var(--accent-color);
  border-radius: 2px;
}

.filter-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--primary);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list:not(:last-child) {
  margin-right: 8px;
}

.filter-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: var(--second-bg);
  border-radius: 4px;
  padding: 6px 22px;
  border: 1px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list-item:hover,
.filter-list-item:focus {
  color: var(--second-bg);
  background-color: var(--accent-color);
}

@media screen and (min-width: 320px) {
  .filter-content {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    margin-bottom: 25px;
  }
  .filter-list {
    margin-bottom: 15px;
  }
  .filter {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .filter-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 54px;
    margin-bottom: 14px;
  }
  .portfolio::after {
    margin-bottom: -42px;
  }
}

@media screen and (min-width: 1200px) {
  .filter-list {
    margin-bottom: 34px;
  }
  .portfolio::after {
    margin-bottom: -31px;
  }
}

.projects-list:hover,
.projects-list:focus-within {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cover-window {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list-link:hover .cover-window,
.projects-list-link:focus .cover-window {
  transform: translateY(0);
}

a {
  text-decoration: none;
}

.projects-list {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list-name {
  color: var(--primary);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-list-box {
  padding: 20px 24px;
}

.projects-list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.projects-cover {
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 320px) {
  .projects {
    display: flex;
    flex-direction: column;
  }
  .projects-list {
    width: 450px;
    height: 404px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    padding: 0;
    flex-direction: row;
  }
  .projects-list {
    margin: 15px;
    width: 354px;
    height: 440px;
  }
}

@media screen and (min-width: 1200px) {
  .projects-list {
    width: 370px;
    height: 404px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility, pointer-events;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  min-height: 609px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-contract {
  margin-left: 7px;
  text-decoration: underline;
}

.modal-button {
  border: none;
  padding: 10px 55px;
  align-self: center;
}

.icon-close {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 5px 6px 6px 5px;
}

.modal-close-btn:hover .icon-close,
.modal-close-btn:focus .icon-close {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.input-cell-messeger {
  padding: 12px 16px;
  width: 370px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-top: 4px;
}

.input-cell-messeger:focus {
  outline: none;
  border-color: var(--accent-color);
}

.input-cell {
  width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 4px;
}

.modal-line {
  margin-bottom: 10px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-line textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.modal-line label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-name {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary);
  margin-bottom: 12px;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--primary);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-icon {
  position: relative;
}

.input-cell:focus {
  outline: none;
  border-color: var(--accent-color);
}

.input-cell:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-form-label-policy::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  outline: 2px solid #212121;
  margin-right: 7px;
  outline-style: auto;
}

.modal-form-check-policy:checked + .modal-form-label-policy::before {
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  outline-style: none;
}

.modal-form-check-policy:focus + .modal-form-label-policy::before {
  outline: 2px solid #0808d8;
}

.modal-line .modal-form-label-policy {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
  .input-cell-messeger {
    width: 448px;
    height: 120px;
  }
  .input-cell {
    width: 448px;
    height: 40px;
  }
  .modal-line .modal-form-label-policy {
    font-size: 14px;
    line-height: 1.714;
  }
}
/*# sourceMappingURL=main.css.map */