.preference-icon {
    fill: var(--primary);
  }

.preference-item-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: var(--second-bg);
}

.benefits-title {
    color: var(--primary);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;

    &-list {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em; 
    }
}


@media screen and (max-width: 767px) {
    .benefits {
            padding-top: 60px;
            padding-bottom: 60px;
    }
    .preference {
            display: flex;
            flex-direction: column;
    }
    
    .preference-item:not(:last-child) {
            margin-bottom: 30px;
    }
    
    .preference-item-box {
            width: 450px;
            height: 120px;
    }
    
    .benefits-title {
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .preference {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    .preference-item-box {
        width: 354px;
        height: 120px;
    }

    .preference-item {
        width: 354px;
        height: 251px;
        margin: 15px;
    }

    .benefits {
        padding-top: 60px;
    }
}

@media screen and (min-width: 1200px) {
    .benefits {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    .preference {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }


    .preference-item-box {
        width: 270px;
        height: 120px;
    }
}







