.logo {
    font-family: Raleway; 
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-right: 93px;
    
    &-one {
      color: var(--accent-color);  
    }
    
    &-two {
      color: #000000;
    }
}  

.logo-two-footer {
    color: #ffffff;
}